<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>demo</title>
        <link rel="stylesheet" type="text/css" href="static/css/demo.css">
        <script type="text/javascript" src="static/js/demo.js"></script>
    </head>
    <body>
        <form method="post">
            <p>
<!--                {value}-->
                {{ value }}
            </p>
            name: <input type="text" name="name"> <input type="submit" name="submit">
        </form>
    </body>
</html>

